.user-header
  .user-header__left
    = image_tag 'fmarket_logo_red.svg',class:"logo"
  .user-header__right
    %ul.progress-bar
      %li{class:"#{(params[:action] == "step1")? "progress-bar__item__start__red":"progress-bar__item__start"}"}
        会員情報
        .circle__start
      %li{class:"#{(params[:action] == "step2")? "progress-bar__item__red":"progress-bar__item"}"}
        電話番号認証
        %p{class:"#{(params[:action] != "step1")? "circle__red":"circle"}"}
      %li{class:"#{(params[:action] == "step3")? "progress-bar__item__red":"progress-bar__item"}"}
        お届け先住所入力
        %p{class:"#{(params[:action] != "step1" && params[:action] != "step2")? "circle__red":"circle"}"}
      %li.progress-bar__item
        支払い方法
        %p{class:"#{(params[:action] == "complete")? "circle__red":"circle"}"}
      %li{class:"#{(params[:action] == "complete")? "progress-bar__item__red":"progress-bar__item"}"}
        完了
        %p{class:"#{(params[:action] == "complete")? "circle__red":"circle"}"}
