.user-single-container
  = render 'header'
  .user-main
    .user-member-info
      %h2.user-member-info__title 住所入力
      = form_with model: @user do |form|
        .user-single-content
          .user-form-group
            %p
              お名前
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）山田" ,class:"wfamily-name-kanji"
            %p= form.text_field :text, placeholder:"例）彩" ,class:"wfirst-name-kanji"
          .user-form-group
            %p
              お名前カナ
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）ヤマダ" ,class:"wfamily-name-kana"
            %p= form.text_field :text, placeholder:"例）アヤ" ,class:"wfirst-name-kana"
          .user-form-group
            %p
              郵便番号
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）123-4567" ,class:"address-num-field"
          / ドロップダウンで選択出来るようにする
          .user-form-group
            %p
              都道府県
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）兵庫県" ,class:"prefecture-field"
          .user-form-group
            %p
              市区町村
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）神戸市中央区" ,class:"prefecture-field"
          .user-form-group
            %p
              番地
              %span.required 必須
            %p= form.text_field :text, placeholder:"例）4-2" ,class:"prefecture-field"
          .user-form-group
            %p
              建物名
              %span.option 任意
            %p= form.text_field :text, placeholder:"例）グリーンパレス" ,class:"prefecture-field"
          .user-form-group
            %p
              電話
              %span.option 任意
            %p= form.text_field :text, placeholder:"例）090-1234-5678" ,class:"prefecture-field"
          .user-form-group
            = form.submit "次へ進む", class:"submit-btn"
  = render 'footer'
