<%= render 'header' %>
<div class = "main">
  <div class = "member-info">
    <h2 class = "member-info__title">住所入力</h2>
    <%= form_with model: @user do |form| %>
    <div class = "single-content">
      <div class = "form-group">
        <p>お名前<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）山田" ,class:"wfamily-name-kanji" %></p>
        <p><%= form.text_field :text, placeholder:"例）彩" ,class:"wfirst-name-kanji" %></p>
      </div>
      <div class = "form-group">
        <p>お名前カナ<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）ヤマダ" ,class:"wfamily-name-kana" %></p>
        <p><%= form.text_field :text, placeholder:"例）アヤ" ,class:"wfirst-name-kana" %></p>
      </div>
      <div class = "form-group">
        <p>郵便番号<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）123-4567" ,class:"address-num-field" %></p>
      </div>

      <!--ドロップダウンで選択出来るようにする-->
      <div class = "form-group">
        <p>都道府県<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）兵庫県" ,class:"prefecture-field" %></p>
      </div>
      <div class = "form-group">
        <p>市区町村<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）神戸市中央区" ,class:"prefecture-field" %></p>
      </div>
      <div class = "form-group">
        <p>番地<span class = "required">必須</span></p>
        <p><%= form.text_field :text, placeholder:"例）4-2" ,class:"prefecture-field" %></p>
      </div>
      <div class = "form-group">
        <p>建物名<span class = "option">任意</span></p>
        <p><%= form.text_field :text, placeholder:"例）グリーンパレス" ,class:"prefecture-field" %></p>
      </div>
      <div class = "form-group">
        <p>電話<span class = "option">任意</span></p>
        <p><%= form.text_field :text, placeholder:"例）090-1234-5678" ,class:"prefecture-field" %></p>
      </div>
      <div class = "form-group">
        <%= form.submit "次へ進む", class:"submit-btn" %>
      </div>

    </div>
    <% end %>
  </div>
</div>

<%= render 'footer'%>