<div class = "sign-up">
  <div class = "header">
    <div class = "header__left">
      <%= image_tag 'fmarket_logo_red.svg',class:"logo" %>
    </div>
    <div class = "header__right">
      <div nav-bar>
        <ul class = "info">
          <li class = "item">会員情報
            <div class= "circle"></div>
          </li>
          <li class = "item">電話番号認証
            <div class= "circle"></div>
          </li>
          <li class = "item">お届け先住所入力
            <div class= "circle"></div>
          </li>
          <li class = "item">支払い方法
            <div class= "circle"></div>
          </li>
          <li class = "item">完了
            <div class= "last-circle"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "main">
    <div class = "member-info">
      <h2 class = "member-info__title">会員情報入力</h2>
      <%= form_with model: @user do |form| %>
        <div class = "single-content">
          <div class = "form-group-top">
            <p class = "nick-name">ニックネーム<span class = "required">必須</span></p>
            <%= form.text_field :text, class:"nick-name-field" %>
          </div>
          <div class = "form-group">
            <p class = "mail">メールアドレス<span class = "required">必須</span></p>
            <%= form.text_field :email, class:"mail-field" %>
          </div>
          <div class = "form-group-password">
            <label for = "password" >パスワード<span class = "required">必須</span></p>
            <%= form.password_field :text, placeholder:"7文字以上の半角英数字" ,class:"password-field" %>
            <p class = "info-text">
              ※　英字と数字の両方を含めて設定して下さい
            </p>
            <div class = "display-password">
              <%= form.check_box :check_box, id:"reveal_password" %>
              <label for = "reveal_password">パスワードを表示する</label>
            </div>
          </div>
          <div class = "form-group">
            <h2 class = "identification-title" >本人確認</h2>
            <p class = "identification-text" >安心・安全にご利用いただくために、お客さまの本人<br>
            情報の登録にご協力ください。他のお客さまに公開さ<br>
            れることはありません。
            </p>
          </div>
          <div class = "form-group">
            <p>お名前（全角）<span class = "required">必須</span></p>
            <%= form.text_field :text, placeholder:"例）山田" ,class:"family-name-kanji" %>
            <%= form.text_field :text, placeholder:"例）彩" ,class:"first-name-kanji" %>
          </div>
          <div class = "form-group">
            <p>お名前カナ（全角）<span class = "required">必須</span></p>
            <%= form.text_field :text, placeholder:"例）ヤマダ" ,class:"family-name-kana" %>
            <%= form.text_field :text, placeholder:"例）アヤ" ,class:"first-name-kana" %>
          </div>
          <div class = "form-group">
            <p>生年月日<span class = "required">必須</span></p>
            <%= form.date_select :birthday, start_year: 1900, end_year:Time.current.year,use_month_numbers: true, class:"birthday-field" %>
            <%#= sprintf(form.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日' %>
          </div> 
          <div class = "caution">
            <p>※ 本人情報は正しく入力してください。会員登録後</p>
            <p>修正するにはお時間を頂く場合があります。</p>
          </div>
          <div class = "form-group">
            <p>「次へ進む」のボタンを押すことにより、<a href="">利用規約に</a></p>
            <p>同意したものとみなします</p>
          
          </div>
          <div class = "robot">
            <%= form.check_box :check_box, id:"check_robot" %>
            <label for = "check_robot">私はロボットではあり<br>ません</label>
          </div>
          <div class = "form-group">
            <%= form.submit "次へ進む", class:"submit-btn" %>
          </div>
          <p><a href="">本人情報の登録について</a></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "footer">
    <div class = "footer__nav">
      <ul class = "footer__nav__messages">
        <li class = "message">プライバシーポリシー</li>
        <li class = "message" >メルカリ利用規約</li>
        <li class = "message" >特定商取引に関する表記</li>
      </ul>
    </div>
    <div class = "footer__logo">
      <%= image_tag 'logo_gray.svg',class:"flogo" %>
    </div>
    <p class = "copy">&copy;Mercari,Inc.</p>
  </div>
</div>
