= render 'users/user-single-header'
%main.item_confirm
  %section.item_confirm__content
    %h2.item_confirm__content__head
      購入内容の確認
    %section.item_confirm__content__buy-item
      .item_confirm__content__buy-item__inner
        .item_confirm__content__buy-item__inner__box
          .item_confirm__content__buy-item__inner__box__img
            = image_tag "#{@item.image}",class:"item-image"
          .item_confirm__content__buy-item__inner__box__detail
            %p.item_confirm__content__buy-item__inner__box__detail__name
              =@item.name
            %p.item_confirm__content__buy-item__inner__box__detail__price
              %span 
                ¥ 
                =@item.price
              %span.item-confiem__fee （税込）送料込み
    .item_confirm__content__buy-container
      .item_confirm__content__buy-container-inner
        .item_confirm__content__buy-container-inner__price
          %ul.item_confirm__content__buy-container-inner__price__detail
            %li.item__price
              支払い金額
            %li.inner__price
              ¥
              =@item.price
          .item-confirm__points
            %input.inner-box{type: "checkbox"}
            %p.inner-point ポイントを使用
        .item_confirm__content__buy-container-inner__credit
          %ul.item_confirm__content__buy-container-inner__credit__lists
            %li.inner__method
              支払い方法
            %li.inner__option
              変更する

          .item_confirm__content__buy-container-inner__credit__cards
            %p.tem_confirm__content__buy-container-inner__credit__cards__info
              クレジットカード
              %br/
              ************1032
              %br/
              有効期限 09 / 26
            = image_tag "visa.gif",class:"item_confirm__credit-card"
        .item_confirm__content__buy-container-inner__address
          %ul.item_confirm__content__buy-container-inner__address__info
            %li.address-info 
              配送先
              %br/
              〒000-0001
              %br/
              北海道 夕張市
              〇〇町0-0-3
              %br/
              kojikoji
              -# = @item.user.name
            %li.section-info 変更する
        .item_confirm__content__buy-container-inner__form
          %p.item_confirm__content__buy-container-inner__form__content
            この商品は、ゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
            = form_with url: done_path(@item.id) do
              :plain
                <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_e62349859c2f9a2db51bfa9c"></script>
          -# = form_tag(action: :pay, method: :post) do
            -# %button.btn{type:"submit",class:"item_confirm__content__buy-container-inner__form__btn"}
            購入する
          %p.item_confirm__content__buy-container-inner__form__app
            アプリをお持ち出ない方は以下よりインストールしてご利用いただけます。
          %br/
= render 'users/footer'
