.footer
  .smph__area
    = image_tag 'room_image.jpg', class:'smph__img'
    .smph___box
      %p.smph__text1 スマホでかんたんフリマアプリ
      %p.smph__text2 今すぐ無料ダウンロード!
      = image_tag 'logo_white.svg', class:'footer__fma__img'
      = image_tag 'apple_icon.svg', class:'footer__apple__img'
      = image_tag 'google_icon.svg', class:'footer__google__img'
      = image_tag 'free_img.png', class:'footer__free__img'
    
  .footer__index
    .footer__index__top
      .footer__index__contaner
        %ul.footer__index__box
          %li.footer__title メルカリについて
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 会社概要（運営会社）
          / target="_blank"はリンクボタンを押すと別タブが開く
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 採用情報
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} プレスリリース
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 公式ブログ
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} メルカリロゴ利用ガイドライン

          %li.footer__btn
            %a.footer__btn__twitter{:href => "#"}
              %i.fab.fa-twitter
            %a.footer__btn__facebook{:href => "#"}
              %i.fab.fa-facebook-square

        %ul.footer__index__box
          %li.footer__title ヘルプ＆ガイド
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} メルカリガイド
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} らくらくメルカリ便
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} ゆうゆうメルカリ便
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 大型メルカリ便
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 車体取引ガイド
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} メルカリあんしん・あんぜん宣言！
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 偽ブランド品撲滅への取り組み
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} メルカリボックス

        %ul.footer__index__box
          %li.footer__title プライバシーと利用規約
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} プライバシーポリシー
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} メルカリ利用規約
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} あんしんスマホサポート制度に関する利用特約
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} コンプライアンスポリシー
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 個人データの安全管理に係る基本方針
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 特定商取引に関する表記
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 資金決済法に基づく表示
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 法令順守と犯罪抑止のために

        %ul.footer__index__box
          %li.footer__title 国
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} 日本
          %li.footer__comments
            %a.footer__comment{:href => "#", :target => "_blank"} United States

  .bottom__box
    .bottom__box__area
      = image_tag 'logo_white.svg', class:'bottom__box__area__fma'
      .bottom__box__text 
        fmarket
      .bottom__box__copy 
        ©Mercari,Inc
