
.item__area
  .category_title_area
    %p.category_title 人気のカテゴリー
    .category_items
      %p
        =link_to "レディース", { anchor: "" }, class: "items_content"
      %p
        =link_to "メンズ", { anchor: "" }, class: "items_content"
      %p
        =link_to "家電・スマホ・カメラ", { anchor: "" }, class: "items_content"
      %p
        =link_to "おもちゃ・ホビー・グッズ", { anchor: "" }, class: "items_content"

  .mainpage__items
    .mainpage__title
      %p.mainpage__title__name レディース新着アイテム
      =link_to "もっと見る＞", user_google_oauth2_omniauth_authorize_path,class: "mainpage__title__look"
    
    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price
    
    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price
    
    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price

    %li.ladies__box__photo
      - @items.each do |item|
        = image_tag "#{item.image}", class: "ladies-photo"
        .ladies__comment-box
          .ladies__comment-box__text
            = simple_format(item.name)
        .ladies__price-box
          .ladies__price-box__price
            ¥
            = item.price
      

    