.slick
  .slick__img
    スマホでかんたんフリマアプリ

.item__area
  .category_title_area
    %p.category_title 人気のカテゴリー
    .category_items
      %p
        %a.items_content{:href => ".ladies_items"} レディース
      %p
        %a.items_content{:href => "#"} メンズ
      %p
        %a.items_content{:href => "#"} 家電・スマホ・カメラ
      %p
        %a.items_content{:href => "#"} おもちゃ・ホビー・グッズ

  .mainpage__items
    .mainpage__title
      %p.mainpage__title__name レディース新着アイテム
      %a.mainpage__title__look{:href => "#"} もっと見る＞
    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000
        
    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000

    %li.ladies__box__photo
      = image_tag "ladies_coat.jpg", class: "ladies-photo"
      .ladies__comment-box
        .ladies__comment-box__text ページボーイ BIGチェックステンカラーコート
      .ladies__price-box
        .ladies__price-box__price ¥9,000
