.notifications
  - flash.each do |key, value|
    = content_tag(:div, value, class: key)
.item-detail-cotainer
  .item-detail-contents
    .item-detail-name
      =@item.name
    .item-detail-main
      .item-detail-main__photos
        = image_tag "#{@item.image}",  class: "item-detail-main__photos__photo"
      %table.item-detail-main__table
        %tbody
          %tr
            %th
              出品者
            %td
              こじこじ
              -# = @item.user.name
              .item-user
                .item-user__laugh
                  %i.fas.fa-laugh
                .item-user__rating
                  22
                .item-user__meh
                  %i.fas.fa-meh
                .item-user__rating
                  2
                .item-user__frown
                  %i.fas.fa-frown
                .item-user__rating
                  12
          %tr
            -# カテゴリーGEM:アンセストリーが実装できたらblandともに実装、今は仮置き
            %th
              カテゴリー
            %td
              =@item.category_id
          %tr
            %th
              ブランド
            %td
              =@item.category_id
          -# もし商品のサイズがあれば表示するようif分岐させる
          -if @item.size.present?
            %tr
              %th
                商品のサイズ
              %td
                =@item.size
          %tr
            %th
              商品の状態
            %td
              =@item.state
          %tr
            %th
              配送料の負担
            %td
              =@item.delivery_fee
          %tr
            %th
              配送の方法
            %td
              ゆうゆうメルカリ便
              -# =@item.delivery_method
          %tr
            %th
              配送元地域
            %td
              =@item.prefecture_id
          %tr
            %th
              発送日の目安
            %td
              =@item.delivery_date

    .item-detail-price
      .item-detail-price__yen
        ¥
        =@item.price
      .item-detail-price__tax
        (税込)
      .item-detail-price__postage
        送料込み

    %label.item-detail-buy
      %button 
      = link_to item_confirm_path do
        購入画面に進む

    .item-detail-caution
      -# - if @item.user_id == current_user.id
      .item-detail-delete
        = link_to "出品者として商品を編集する", edit_item_path(@item.id), class: "item-detail-delete__link"
      .item-detail-delete
        = link_to "出品者として商品を削除する", item_path(@item.id), method: :delete, class: "item-detail-delete__link"
      -# - else
      .item-detail-caution
        この商品はゆうゆうエフマケ便を利用しているため、アプリからのみ購入できます。

    .item-detail-description
      .item-detail-description__text
        = simple_format @item.detail
      .item-detail-description__bottom
        .item-detail-description__bottom__left
          .item-detail-description__bottom__left__like
            %i.far.fa-heart
            いいね!
          .item-detail-description__bottom__left__report
            %i.far.fa-flag
            不適切な商品の報告
        .item-detail-description__bottom__right
          %i.fas.fa-lock
          あんしん・あんぜんへの取り組み

          -# コメント機能実装 <=けど実装しない
  .item-detail-comments
    -# 以下renderで繰り返させる <=けど実装しない
    %ul.item-detail-comments__comennt
      %li.comment
        .comment__user
          .comment__user__icon
            %i.far.fa-user-circle
          .comment__user__name
            kojikoji
        .comment__body
          .comment__body__text
            いい商品ですけど高いですね
          .comment__body__bottom
            .comment__body__bottom__time
              .comment__body__bottom__time__clock
                %i.far.fa-clock
              .comment__body__bottom__time__date
                2年前
            .comment__body__bottom__report
              %i.far.fa-flag

      .item-detail-comments__caution
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input(type="text" class = "item-detail-comments__form" )
      %label.item-detail-comments__btn
        %button
        コメントする
  .item-detail-link
    .item-detail-link__left
      %i.fas.fa-chevron-left
      中島みゆきのCD
    .item-detail-link__right
      %i.fas.fa-chevron-right
      MDプレーヤー

  .item-detail-user
    .item-detail-other
      .item-detail-other__header
        -# =@item.user.name
        こじこじ
        さんのその他の出品
        -# ここから下をrenderで繰り返し
      .item-detail-other__product  
        .item-detail-other__product__picture
        = image_tag "https://images-na.ssl-images-amazon.com/images/I/71irY23ij4L._AC_SL1500_.jpg", class: "item-detail-other__product__picture"
        .item-detail-other__product__info
          .item-detail-other__product__info__name
            -# = @item.name
          .item-detail-other__product__info__bottom
            .item-detail-other__product__info__bottom__price
              ¥
              =@item.price
            .item-detail-other__product__info__bottom__like
              %i.far.fa-heart
              3

  .item-detail-related
    .item-detail-other
      .item-detail-other__header
        =@item.name
        その他の商品
        -# ここから下をrenderで繰り返し
      .item-detail-other__product
        -# - @items.each do 
        = image_tag "https://images-na.ssl-images-amazon.com/images/I/71irY23ij4L._AC_SL1500_.jpg", class: "item-detail-other__product__picture"
        .item-detail-other__product__info
          .item-detail-other__product__info__name
            Logicool Mouse 4
          .item-detail-other__product__info__bottom
            .item-detail-other__product__info__bottom__price
              ¥1,234
            .item-detail-other__product__info__bottom__like
              %i.far.fa-heart
              3