= render 'items/header'
.wrapper
  = render "items/side-ber"
  .user-main
    .user-member-info
      %h2.user-member-info__title 支払い方法
      = form_with model: @card ,url: cards_path, name: "charge-form", id: 'charge-form' do |form|
        .user-single-content
          .user-form-group
            %p
              カード番号
              %span.required 必須
            = form.text_field :card_id, id: "card_number", placeholder: "半角数字のみ" ,class: "card-num-field", type: "text", maxlength: "16"
            %ul.user-cards
              %li.user-cards__card= image_tag 'visa.gif',class:"card-logo"
              %li.user-cards__card= image_tag 'mastercard.gif',class:"card-logo"
              %li.user-cards__card= image_tag 'saison.gif',class:"card-logo"
              %li.user-cards__card= image_tag 'amex.gif',class:"card-logo"
              %li.user-cards__card= image_tag 'diners.gif',class:"card-logo"
              %li.user-cards__card= image_tag 'discover.gif',class:"card-logo"
          .user-form-group
            %p
              有効期限
              %span.required 必須
            = form.select :exp_month, 1..12, class:"security-field", name: "exp_month"
            %p 月
            = form.select :exp_year, Time.current.year..2030, class:"security-field", name: "exp_year", type: "text"
            %p 年
          .user-form-group
            %p
              セキュリティコード
              %span.required 必須
            %p= form.text_field :cvc, placeholder:"カード背面4桁もしくは3桁の番号" ,class:"security-field", maxlength: "4", type: 'text', id: "cvc", name: "cvc"
            %p
              = link_to "" do
                カード背面の番号とは
          .user-form-group
            = form.submit "追加する", class:"submit-btn", id: 'token_submit'
= render 'items/footer'